# Lab Journal Project 2. Analysis of new flu strain

* [Data preparation](#first-bullet)
* [Aligment](#second-bullet)
* [Variant calling](#third-bullet)
* [Variant analysis](#fourth-bullet)

## Data preparation <a class="anchor" id="first-bullet"></a>

In [5]:
!mkdir data

Sequencing results from roommate:

In [7]:
!wget http://ftp.sra.ebi.ac.uk/vol1/fastq/SRR170/001/SRR1705851/SRR1705851.fastq.gz -O data/SRR1705851.fastq.gz
!gunzip data/SRR1705851.fastq.gz

In [8]:
!head -10 data/SRR1705851.fastq

@SRR1705851.1 1/1
TTCGTGATTGTTTTCACTATCGTTCCGTTTGGCACTGCATGGTGCCCAAGGCACAGCGTTGCCGTGCTGTTGTCATTTCCAGGAAGTTTTTGAGCGAAAACCAGACATAGAATGTAGCTCAAAGCAATGATAGTCTTCATGGTTAATAG
+
,<==<<<<A@@@@@@@EEE;CEE+AC>EC;>EFFDC@=A@AE999DDD>>@E777EE75C>EF>EDEEFFFF--AE>EDEEEED=C-58AE=<D=<<DD=D9CDD@EEDED@DEDDE*9;@DDED@@@7@E*;*888@*8;@8@;;@@E
@SRR1705851.2 2/1
NATTAACCATGAAGACTATCATTGCTTTGAGCTACATTCTATGTCTGGTTTTCGCTCAAAAACTTCCTGGAAATGACAACAGCACGGCAACGCTGTGCCTTGGGCACCATGCAGTGCCAAACGGAACGATAGTGAAAACAATCACGAATGA
+
#5<???BBEEEDEDDDGGGGGGIIIIIIIIIIIIIIIIIIIIIHIIIIFHHIIHHHHHIIIIHIIIIIIIHIIIIIIIIIIIIIIHHHHHHHHHHEHHHHHFFHHHHHHFFHHGFGGGGGGGGGGGGGEEEGCEEGGGGGEEGGGGCGEGG
@SRR1705851.3 3/1
GTTTGGCACTGCATGGTGCCCAAGGCACAGCGTTGCCGTGCTGTTGTCATTTCCAGGAAGTTTTTGAGCGAAAACCAGACATAGAATGTAGCTCAAAGCAATGATAGTCTTCATGGTTAATAG

Here is the reference influenza hemagglutinin gene https://www.ncbi.nlm.nih.gov/nuccore/KF848938.1?report=fasta

We need to put this information to the fasta file

In [11]:
!printf ">KF848938.1 Influenza A virus (A/USA/RVD1_H3/2011(H3N2)) segment 4 hemagglutinin (HA) gene, partial cds\nCAAAAACTTCCTGGAAATGACAACAGCACGGCAACGCTGTGCCTTGGGCACCATGCAGTGCCAAACGGAACAATAGTGAAAACAATCACGAATGACCAAATTGAAGTTACTAATGCCACTGAGCTGGTTCAGAGTTCCTCAACAGGTGAAATATGCAACAGTCCTCATCAGATCCTTGATGGAGAAAACTGCACACTAATAGATGCTCTATTGGGAGACCCTCAGTGTGATGGCTTCCAAAACAAGAAATGGGACCTTTTTGTTGAACGAAGCAAAGCCCACAGCAACTGTTACCCTTATGATGTGCCGGATTATGCCTCCCTTAGGTCACTAGTTGCCTCATCCGGCACACTGGAGTTTAACAATGAAAGCTTCAATTGGACTGGAGTCACTCAAAACGGAACAAGCTCTGCTTGCATAAGGAGATCTAATAATAGTTTCTTTAGTAGATTGAATTGGTTGACCCACTTAAACTTCAAATACCCAGCATTGAACGTGACTATGCCAAACAATGAACAATTTGACAAATTGTACATTTGGGGGGTTCACCACCCGGGTACGGACAAGGACCAAATCTTCCTGTATGCTCAAGCAGCAGGAAGAATCACAGTATCTACCAAAAGAAGCCAACAAGCTGTAATTCCGAATATCGGATCTAGACCCAGAGTAAGGAATATCCCTAGCAGAGTAAGCATCTATTGGACAATAGTAAAACCGGGAGACATACTTTTGATTAACAGCACAGGGAATCTAATTGCTCCTAGGGGTTACTTTAAAATACGAAGTGGGAAAAGCTCAATAATGAGATCAGATGCACCCATTGGCAAATGCAATTCTGCATGCATCACTCCAAATGGAAGCATTCCCAATGACAAACCATTCCAAAATGTAAACAGGATCACATACGGGGCCTGTCCCAGATATGTTAAGCAAAACACTCTGAAATTGGCAACAGGAATGAGAAATGTACCAGAGAAACAAACTAGAGGCATATTTGGCGCAATAGCTGGTTTCATAGAAAATGGTTGGGAGGGAATGGTGGATGGTTGGTACGGTTTCAGGCATCAAAATTCTGAGGGAAGGGGACAAGCAGCAGATCTCAAAAGCACTCAAGCAGCAATCGATCAAATCAATGGGAAGCTGAATAGATTGATCGGGAAAACCAACGAGAAATTCCATCAGATTGAAAAAGAATTCTCAGAAGTCGAAGGGAGAATTCAGGACCTTGAGAAATATGTTGAGGACACTAAAATAGATCTATGGTCATACAACGCGGAGCTTCTTGTTGCCCTGGAGAACCAACACACAATTGATCTAACTGACTCAGAAATGAACAAATTGTTTGAAAAAACAAAGAAGCAACTGAGGGAAAATGCTGAGGATATGGGCAATGGTTGTTTCAAAATATACCACAAATGTGACAATGCCTGCATAGGATCAATCAGAAATGGAACTTATGACCACGATGTGTACAGAGATGAAGCATTAAACAACCGATTCCAGATCAAGGGAGTTGAGCTGAAGTCAGGGTACAAAGATTGGATCCTATGGATTTCCTTTGCCATATCATGTTTTTTGCTTTGTGTTGCTTTGTTGGGGTTCATCATGTGGGCCTGCCAAAAAGGCAACATTAGGTGCAACATTTGCATTTGAGTGCATTAATTA\n" > data/reference.fasta

In [12]:
seq = 'CAAAAACTTCCTGGAAATGACAACAGCACGGCAACGCTGTGCCTTGGGCACCATGCAGTGCCAAACGGAACAATAGTGAAAACAATCACGAATGACCAAATTGAAGTTACTAATGCCACTGAGCTGGTTCAGAGTTCCTCAACAGGTGAAATATGCAACAGTCCTCATCAGATCCTTGATGGAGAAAACTGCACACTAATAGATGCTCTATTGGGAGACCCTCAGTGTGATGGCTTCCAAAACAAGAAATGGGACCTTTTTGTTGAACGAAGCAAAGCCCACAGCAACTGTTACCCTTATGATGTGCCGGATTATGCCTCCCTTAGGTCACTAGTTGCCTCATCCGGCACACTGGAGTTTAACAATGAAAGCTTCAATTGGACTGGAGTCACTCAAAACGGAACAAGCTCTGCTTGCATAAGGAGATCTAATAATAGTTTCTTTAGTAGATTGAATTGGTTGACCCACTTAAACTTCAAATACCCAGCATTGAACGTGACTATGCCAAACAATGAACAATTTGACAAATTGTACATTTGGGGGGTTCACCACCCGGGTACGGACAAGGACCAAATCTTCCTGTATGCTCAAGCAGCAGGAAGAATCACAGTATCTACCAAAAGAAGCCAACAAGCTGTAATTCCGAATATCGGATCTAGACCCAGAGTAAGGAATATCCCTAGCAGAGTAAGCATCTATTGGACAATAGTAAAACCGGGAGACATACTTTTGATTAACAGCACAGGGAATCTAATTGCTCCTAGGGGTTACTTTAAAATACGAAGTGGGAAAAGCTCAATAATGAGATCAGATGCACCCATTGGCAAATGCAATTCTGCATGCATCACTCCAAATGGAAGCATTCCCAATGACAAACCATTCCAAAATGTAAACAGGATCACATACGGGGCCTGTCCCAGATATGTTAAGCAAAACACTCTGAAATTGGCAACAGGAATGAGAAATGTACCAGAGAAACAAACTAGAGGCATATTTGGCGCAATAGCTGGTTTCATAGAAAATGGTTGGGAGGGAATGGTGGATGGTTGGTACGGTTTCAGGCATCAAAATTCTGAGGGAAGGGGACAAGCAGCAGATCTCAAAAGCACTCAAGCAGCAATCGATCAAATCAATGGGAAGCTGAATAGATTGATCGGGAAAACCAACGAGAAATTCCATCAGATTGAAAAAGAATTCTCAGAAGTCGAAGGGAGAATTCAGGACCTTGAGAAATATGTTGAGGACACTAAAATAGATCTATGGTCATACAACGCGGAGCTTCTTGTTGCCCTGGAGAACCAACACACAATTGATCTAACTGACTCAGAAATGAACAAATTGTTTGAAAAAACAAAGAAGCAACTGAGGGAAAATGCTGAGGATATGGGCAATGGTTGTTTCAAAATATACCACAAATGTGACAATGCCTGCATAGGATCAATCAGAAATGGAACTTATGACCACGATGTGTACAGAGATGAAGCATTAAACAACCGATTCCAGATCAAGGGAGTTGAGCTGAAGTCAGGGTACAAAGATTGGATCCTATGGATTTCCTTTGCCATATCATGTTTTTTGCTTTGTGTTGCTTTGTTGGGGTTCATCATGTGGGCCTGCCAAAAAGGCAACATTAGGTGCAACATTTGCATTTGAGTGCATTAATTA'
print(f'Length of reference read: {len(seq)}')

Length of reference read: 1665

Control reads for reference samples to check sequencing mistakes:

In [13]:
# SRR1705858: 
!wget ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR170/008/SRR1705858/SRR1705858.fastq.gz -O data/SRR1705858.fastq.gz
# SRR1705859: 
!wget ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR170/009/SRR1705859/SRR1705859.fastq.gz -O data/SRR1705859.fastq.gz
# SRR1705860
!wget ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR170/000/SRR1705860/SRR1705860.fastq.gz -O data/SRR1705860.fastq.gz

In [14]:
!gunzip data/SRR1705858.fastq.gz
!gunzip data/SRR1705859.fastq.gz
!gunzip data/SRR1705860.fastq.gz

The number of reads for each file:

In [15]:
!grep '@SRR1705851' data/SRR1705851.fastq | wc -l
!grep '@SRR1705858' data/SRR1705858.fastq | wc -l 
!grep '@SRR1705859' data/SRR1705859.fastq | wc -l 
!grep '@SRR1705860' data/SRR1705860.fastq | wc -l

  358265
  256586
  233327
  249964

The sum of read length for each file:

In [16]:
!awk '/@SRR1705851/{getline; print}' data/SRR1705851.fastq | wc -m
!awk '/@SRR1705858/{getline; print}' data/SRR1705858.fastq | wc -m
!awk '/@SRR1705859/{getline; print}' data/SRR1705859.fastq | wc -m
!awk '/@SRR1705860/{getline; print}' data/SRR1705860.fastq | wc -m

 53076129
 38375316
 34869894
 37420450

Average coverage for each file:

In [18]:
print(f'SRR1705851: {53076129/358265}')
print(f'SRR1705858: {38375316/256586}')
print(f'SRR1705859: {34869894/233327}')
print(f'SRR1705860: {37420450/249964}')

SRR1705851: 148.14768118571448
SRR1705858: 149.56122313766144
SRR1705859: 149.4464592610371
SRR1705860: 149.7033572834488

Average coverage for each base:

In [17]:
print(f'SRR1705851: {53076129/1665}')
print(f'SRR1705858: {38375316/1665}')
print(f'SRR1705859: {34869894/1665}')
print(f'SRR1705860: {37420450/1665}')

SRR1705851: 31877.554954954954
SRR1705858: 23048.237837837838
SRR1705859: 20942.87927927928
SRR1705860: 22474.744744744745

## Aligment <a class="anchor" id="second-bullet"></a>

In [19]:
!bwa index data/SRR1705851.fastq 
!bwa mem data/reference.fasta data/SRR1705851.fastq > data/SRR1705851_alignment.sam #| 
!samtools view -S -b data/SRR1705851_alignment.sam > data/SRR1705851_alignment.bam
!samtools sort data/SRR1705851_alignment.bam -o data/SRR1705851_alignment_sorted.bam
!samtools index data/SRR1705851_alignment_sorted.bam

In [23]:
!samtools flagstat data/SRR1705851_alignment.bam

361349 + 0 in total (QC-passed reads + QC-failed reads)
358265 + 0 primary
0 + 0 secondary
3084 + 0 supplementary
0 + 0 duplicates
0 + 0 primary duplicates
361116 + 0 mapped (99.94% : N/A)
358032 + 0 primary mapped (99.93% : N/A)
0 + 0 paired in sequencing
0 + 0 read1
0 + 0 read2
0 + 0 properly paired (N/A : N/A)
0 + 0 with itself and mate mapped
0 + 0 singletons (N/A : N/A)
0 + 0 with mate mapped to a different chr
0 + 0 with mate mapped to a different chr (mapQ>=5)

In [20]:
!samtools mpileup -d 50000 -f data/reference.fasta data/SRR1705851_alignment_sorted.bam > data/SRR1705851.mpileup

In [21]:
!bwa index data/SRR1705858.fastq 
!bwa mem data/reference.fasta data/SRR1705858.fastq > data/SRR1705858_alignment.sam #| 
!samtools view -S -b data/SRR1705858_alignment.sam > data/SRR1705858_alignment.bam
!samtools sort data/SRR1705858_alignment.bam -o data/SRR1705858_alignment_sorted.bam
!samtools index data/SRR1705858_alignment_sorted.bam

!bwa index data/SRR1705859.fastq 
!bwa mem data/reference.fasta data/SRR1705859.fastq > data/SRR1705859_alignment.sam #| 
!samtools view -S -b data/SRR1705859_alignment.sam > data/SRR1705859_alignment.bam
!samtools sort data/SRR1705859_alignment.bam -o data/SRR1705859_alignment_sorted.bam
!samtools index data/SRR1705859_alignment_sorted.bam

!bwa index data/SRR1705860.fastq 
!bwa mem data/reference.fasta data/SRR1705860.fastq > data/SRR1705860_alignment.sam #| 
!samtools view -S -b data/SRR1705860_alignment.sam > data/SRR1705860_alignment.bam
!samtools sort data/SRR1705860_alignment.bam -o data/SRR1705860_alignment_sorted.bam
!samtools index data/SRR1705860_alignment_sorted.bam

In [24]:
!samtools flagstat data/SRR1705858_alignment.bam
!samtools flagstat data/SRR1705859_alignment.bam
!samtools flagstat data/SRR1705860_alignment.bam

256744 + 0 in total (QC-passed reads + QC-failed reads)
256586 + 0 primary
0 + 0 secondary
158 + 0 supplementary
0 + 0 duplicates
0 + 0 primary duplicates
256658 + 0 mapped (99.97% : N/A)
256500 + 0 primary mapped (99.97% : N/A)
0 + 0 paired in sequencing
0 + 0 read1
0 + 0 read2
0 + 0 properly paired (N/A : N/A)
0 + 0 with itself and mate mapped
0 + 0 singletons (N/A : N/A)
0 + 0 with mate mapped to a different chr
0 + 0 with mate mapped to a different chr (mapQ>=5)
233451 + 0 in total (QC-passed reads + QC-failed reads)
233327 + 0 primary
0 + 0 secondary
124 + 0 supplementary
0 + 0 duplicates
0 + 0 primary duplicates
233375 + 0 mapped (99.97% : N/A)
233251 + 0 primary mapped (99.97% : N/A)
0 + 0 paired in sequencing
0 + 0 read1
0 + 0 read2
0 + 0 properly paired (N/A : N/A)
0 + 0 with itself and mate mapped
0 + 0 singletons (N/A : N/A)
0 + 0 with mate mapped to a different chr
0 + 0 with mate mapped to a different chr (mapQ>=5)
250184 + 0 in total (QC-passed reads + QC-failed reads)
249964 + 0 primary
0 + 0 secondary
220 + 0 supplementary
0 + 0 duplicates
0 + 0 primary duplicates
250108 + 0 mapped (99.97% : N/A)
249888 + 0 primary mapped (99.97% : N/A)
0 + 0 paired in sequencing
0 + 0 read1
0 + 0 read2
0 + 0 properly paired (N/A : N/A)
0 + 0 with itself and mate mapped
0 + 0 singletons (N/A : N/A)
0 + 0 with mate mapped to a different chr
0 + 0 with mate mapped to a different chr (mapQ>=5)

In [22]:
!samtools mpileup -d 50000 -f data/reference.fasta data/SRR1705858_alignment_sorted.bam > data/SRR1705858.mpileup
!samtools mpileup -d 50000 -f data/reference.fasta data/SRR1705859_alignment_sorted.bam > data/SRR1705859.mpileup
!samtools mpileup -d 50000 -f data/reference.fasta data/SRR1705860_alignment_sorted.bam > data/SRR1705860.mpileup

## Variant calling <a class="anchor" id="third-bullet"></a>

In [25]:
!java -jar varscan/VarScan.v2.4.0.jar mpileup2snp data/SRR1705851.mpileup --min-var-freq 0.95 --variants --output-vcf 1 > VarScan_results_SRR1705851_95.vcf

In [26]:
!java -jar varscan/VarScan.v2.4.0.jar mpileup2snp data/SRR1705851.mpileup --min-var-freq 0.005 --variants --output-vcf 1 > VarScan_results_SRR1705851_05.vcf

In [27]:
!cat VarScan_results_SRR1705851_05.vcf | awk 'NR>24 {print $1, $2, $4, $5, $10}'

KF848938.1 72 A G 1/1:255:16832:16794:6:16787:99.96%:0E0:35:36:4:2:10898:5889
KF848938.1 117 C T 1/1:255:20768:20663:36:20625:99.82%:0E0:35:37:27:9:13462:7163
KF848938.1 307 C T 0/1:255:37506:37386:37029:351:0.94%:6.9068E-66:36:35:22400:14629:184:167
KF848938.1 774 T C 1/1:255:38397:38191:8:38177:99.96%:0E0:32:37:7:1:19806:18371
KF848938.1 999 C T 1/1:255:32561:32115:40:32070:99.86%:0E0:35:36:23:17:17184:14886
KF848938.1 1260 A C 1/1:255:23067:23033:2:23019:99.94%:0E0:32:37:0:2:9824:13195
KF848938.1 1458 T C 0/1:255:27064:26929:26701:225:0.84%:3.4507E-41:37:35:6865:19836:80:145

In [28]:
!java -jar varscan/VarScan.v2.4.0.jar mpileup2snp data/SRR1705858.mpileup --min-var-freq 0.001 --variants --output-vcf 1 > VarScan_results_SRR1705858_01.vcf
!java -jar varscan/VarScan.v2.4.0.jar mpileup2snp data/SRR1705859.mpileup --min-var-freq 0.001 --variants --output-vcf 1 > VarScan_results_SRR1705859_01.vcf
!java -jar varscan/VarScan.v2.4.0.jar mpileup2snp data/SRR1705860.mpileup --min-var-freq 0.001 --variants --output-vcf 1 > VarScan_results_SRR1705860_01.vcf

In [172]:
!cat VarScan_results_SRR1705858_01.vcf | awk 'NR>24 {print $1, $2, $4, $5, $10}'

## Variant analysis <a class="anchor" id="fourth-bullet"></a>

In [33]:
import pandas as pd
from collections import defaultdict
from functools import reduce

def read_vcf(file_name):
    df = defaultdict(list)
    with open(file_name) as f:
        for i, line in enumerate(f):
            if i<24:
                continue
            values = line.split()
            df['name'].append(values[0])
            df['position'].append(values[1])
            df['reference base'].append(values[3])
            df['alternative base'].append(values[4])
            df['frequency %'].append(float(values[9].split(':')[6][:-1]))
    return pd.DataFrame(df)

VarScan_results_SRR1705851_95 = read_vcf('VarScan_results_SRR1705851_95.vcf')
VarScan_results_SRR1705851_01 = read_vcf('VarScan_results_SRR1705851_01.vcf')
VarScan_results_SRR1705858_01 = read_vcf('VarScan_results_SRR1705858_01.vcf')
VarScan_results_SRR1705859_01 = read_vcf('VarScan_results_SRR1705859_01.vcf')
VarScan_results_SRR1705860_01 = read_vcf('VarScan_results_SRR1705860_01.vcf')

common_variants = list(reduce(set.intersection, map(set, [VarScan_results_SRR1705851_01.position, 
                                                          VarScan_results_SRR1705858_01.position, 
                                                          VarScan_results_SRR1705859_01.position, 
                                                          VarScan_results_SRR1705860_01.position])))
common_variants

['254',
 '1086',
 '276',
 '722',
 '1213',
 '859',
 '744',
 '691',
 '1280',
 '915',
 '340']

In [34]:
VarScan_results_SRR1705851_95

         name position reference base alternative base  frequency %
0  KF848938.1       72              A                G        99.96
1  KF848938.1      117              C                T        99.82
2  KF848938.1      774              T                C        99.96
3  KF848938.1      999              C                T        99.86
4  KF848938.1     1260              A                C        99.94

In [35]:
print(f"VarScan_results_SRR1705851_01 mean: {VarScan_results_SRR1705851_01['frequency %'].mean()}, std: {VarScan_results_SRR1705851_01['frequency %'].std()}")
print(f"VarScan_results_SRR1705858_01 mean: {VarScan_results_SRR1705858_01['frequency %'].mean()}, std: {VarScan_results_SRR1705858_01['frequency %'].std()}")
print(f"VarScan_results_SRR1705859_01 mean: {VarScan_results_SRR1705859_01['frequency %'].mean()}, std: {VarScan_results_SRR1705859_01['frequency %'].std()}")
print(f"VarScan_results_SRR1705860_01 mean: {VarScan_results_SRR1705860_01['frequency %'].mean()}, std: {VarScan_results_SRR1705860_01['frequency %'].std()}")

VarScan_results_SRR1705851_01 mean: 23.999047619047616, std: 43.48282395438018
VarScan_results_SRR1705858_01 mean: 0.25649122807017544, std: 0.07172594738880801
VarScan_results_SRR1705859_01 mean: 0.2369230769230769, std: 0.05237640770866741
VarScan_results_SRR1705860_01 mean: 0.250327868852459, std: 0.07803775182808968

In [31]:
print(max(0.25649122807017544+3*0.07172594738880801, 
          0.2369230769230769+3*0.05237640770866741, 
          0.250327868852459+3*0.07803775182808968))

0.48444112433672804

In [212]:
VarScan_results_SRR1705859_01.loc[VarScan_results_SRR1705859_01['frequency %'] > 0.2369230769230769+3*0.05237640770866741] 
VarScan_results_SRR1705859_01.loc[VarScan_results_SRR1705859_01['frequency %'] < .2369230769230769-3*0.05237640770866741]

         name position reference base alternative base  frequency %
0  KF848938.1       44              T                C         0.47

In [215]:
VarScan_results_SRR1705860_01.loc[VarScan_results_SRR1705860_01['frequency %'] > 0.250327868852459+3*0.07803775182808968] 
VarScan_results_SRR1705860_01.loc[VarScan_results_SRR1705860_01['frequency %'] < 0.250327868852459-3*0.07803775182808968]

         name position reference base alternative base  frequency %
0  KF848938.1       38              T                C          0.7
1  KF848938.1       44              T                C          0.5

In [171]:
VarScan_results_SRR1705858_01.loc[VarScan_results_SRR1705858_01.position.isin(common_variants)]

          name position reference base alternative base frequency
11  KF848938.1      254              A                G     0.25%
12  KF848938.1      276              A                G     0.22%
15  KF848938.1      340              T                C     0.23%
30  KF848938.1      691              A                G     0.23%
31  KF848938.1      722              A                G     0.23%
32  KF848938.1      744              A                G     0.21%
34  KF848938.1      859              A                G     0.27%
35  KF848938.1      915              T                C     0.26%
41  KF848938.1     1086              A                G     0.33%
43  KF848938.1     1213              A                G     0.24%
46  KF848938.1     1280              T                C     0.25%

In [38]:
VarScan_results_SRR1705851_05 = read_vcf('VarScan_results_SRR1705851_05.vcf')
VarScan_results_SRR1705851_05

         name position reference base alternative base  frequency %
0  KF848938.1       72              A                G        99.96
1  KF848938.1      117              C                T        99.82
2  KF848938.1      307              C                T         0.94
3  KF848938.1      774              T                C        99.96
4  KF848938.1      999              C                T        99.86
5  KF848938.1     1260              A                C        99.94
6  KF848938.1     1458              T                C         0.84